@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/Lato-Thin.ttf') format('truetype');
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 100;
    src: url('/fonts/Lato-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 300;
    src: url('/fonts/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/Lato-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 700;
    src: url('/fonts/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/Lato-Black.ttf') format('truetype');
}

@font-face {
    font-family: "Lato";
    font-style: italic;
    font-weight: 900;
    src: url('/fonts/Lato-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Bold-Italic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono Bold';
    src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-ExtraBold-Italic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Medium-Italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
