body {
  background: var(--color-light);
  color: var(--color-dark);
  line-height: 1.6;
  font-size: var(--size-base);
  font-family: var(--font-base);
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

main {
  flex: auto;
}

h1 {
  font-size: var(--size-step-2);
}

h2 {
  font-size: var(--size-step-1);
}

h3 {
  font-size: var(--size-step-0-75);
  line-height: 1.2;
}

@media (min-width: 58em) {
  h1::before {
    content: '#';
    margin-inline-start: -2ch;
  }

  h2::before {
    content: '##';
    margin-inline-start: -3ch;
  }

  h3::before {
    content: '###';
    margin-inline-start: -4ch;
  }
}

b, strong {
  font-family: "Noto Sans Bold", serif;
}

:is(h1, h2, h3) {
  display: flex;
  gap: 0.5ch;
  font-weight: 700;
  line-height: 1.2;
}

:is(h1, h2, h3)::before {
  color: var(--color-mid);
}

a {
  color: currentColor;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.2ex;
  text-decoration-color: var(--color-primary);
  /*color: var(--color-primary);*/
  /*text-decoration: none;*/
}

[class*='bg-primary'] a {
  text-decoration-color: var(--color-dark);
}

@media (hover: hover) {
  a:hover {
    /* text-underline-offset: 0.1ex; */
    /*font-weight: 600;*/
    color: var(--color-hover)
  }
}

time {
  display: block;
  font-style: italic;
}

p,
li,
dl,
blockquote,
figcaption {
  max-width: 70ch;
}

p:empty {display:none;}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin-block-start: 0.5em;
  color: var(--color-mid);
  text-align: center;
  max-width: unset;
}

blockquote {
  font-style: italic;
  padding-inline-start: 1em;
  border-inline-start: 0.2em solid;
  border-color: var(--color-primary);
}

svg {
  width: 1em;
  height: 1em;
}

img {
  height: auto;
}

img[src*='.svg'] {
  width: 100%;
}

[role='list'] {
  padding: 0;
  margin-bottom: 0;
}

[id] {
  scroll-margin-top: 2ex;
}

hr {
  border: none;
  border-top: 1px solid var(--color-mid);
  transform: translateY(-1px);
  margin: var(--space-l-xl) 0 !important;
  max-width: 55rem;
}

:focus-visible {
  outline: 1px dotted var(--color-dark);
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

code {
  font-family: var(--font-mono);
  font-size: var(--size-step-0);
}

pre {
  padding: var(--space-s-l);

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  width: 100vw;
  max-width: 51rem;
  margin-left: 50%;
  transform: translateX(-50%);
  line-height: 1.1em;
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--space-xs) var(--space-xs);
}

dt {
  font-family: var(--font-mono-strong);
  color: var(--color-primary-glare);
}

dd {
  font-family: var(--font-mono);
}

:is(input:not([type='checkbox']):not([type='radio']), textarea) {
  padding: 0.3em;
  background: transparent;
  font: inherit;
  border: 1px solid var(--color-mid);
  width: 100%;
}

textarea {
  display: block;
}

button {
  display: inline-block;
  font: inherit;
  padding: 0.3em 1em;
  border: 1px solid var(--color-mid);
  background: var(--color-primary-glare);
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background: var(--color-mid-glare);
}

::selection {
  background: var(--color-dark);
  color: var(--color-light);
}

pre code ::selection {
  background: var(--color-primary) !important;
  color: var(--color-dark) !important;
}
